<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{ flatpage.title }}</title>
</head>
<body>
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>Most popular public clouds</h3>
    <p><i>1. Amazon Web Services (AWS): AWS is a subsidiary of Amazon.com and is the largest public cloud provider with a market share of around 32%. Source: https://aws.amazon.com/about-aws/<br>
        2. Microsoft Azure: Azure is a cloud computing platform offered by Microsoft and is the second largest public cloud provider with a market share of around 20%. Source: https://azure.microsoft.com/en-us/overview/what-is-azure/<br>
        3. Google Cloud Platform (GCP): GCP is a cloud computing platform offered by Google and is the third largest public cloud provider with a market share of around 9%. Source: https://cloud.google.com/docs/overview/<br>
        4. Alibaba Cloud: Alibaba Cloud is a cloud computing platform offered by Alibaba Group and is the fourth largest public cloud provider with a market share of around 6%. Source: https://www.alibabacloud.com/about<br>
        5. IBM Cloud: IBM Cloud is a cloud computing platform offered by IBM and is the fifth largest public cloud provider with a market share of around 5%. Source: https://www.ibm.com/cloud/what-is-ibm-cloud</i></p>
</body>
</html>